.accordion-installation {
    margin-bottom: .1rem;

    &--variant {
        border: 1px solid $border-subscription;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem;
        background-color: $background-accordion-header;

        .accordion-installation--variant & {
            background-color: $background-accordion-header-variant;
        }

        &--left {
            display: flex;
            align-items: center;
        }

        &--right {
            display: flex;
            align-items: center;
        }

        &__icon {
            font-size: 3rem;
        }

        &__title {
            margin-left: 1rem;

            &__text {
                margin: 0;

                &--bold {
                    font-weight: bold;
                }
            }
        }

    }

    &__content {
        padding: 2rem 0.5rem;
        border-top: 1px solid $border-accordion-content;

        .accordion-installation--variant & {
            padding-right: 1rem;
            padding-left: 1rem;
            border-top-color: $border-accordion-content-variant;
        }
    }

    &__link {
        position: relative;
        width: 3rem;
        height: 3rem;
        padding: 0.5rem;

        &--minus {
            background-color: $background-accordion-installation-link-minus;
            color: $color-accordion-installation-link-minus;
        }

        &--plus {
            background-color: $background-accordion-installation-link-plus;
            color: $color-accordion-installation-link-plus;
        }


        [class^="icon-"],
        [class*=" icon-"] {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
