.carousel-connect {
    font-family: $font-subscription;

    &__list {
        position: relative;
    }

    &__item {
        text-align: center;

        &--selected,
        &:hover {
            color: $color-carousel-connect-selected;

            .carousel-connect__item__text {
                font-weight: bold;
            }
        }

        &__icon {
            font-size: 5rem;
        }

        &__text {
            margin-top: 1.5rem;
            font-size: 1.3rem;
        }
    }

    .owl-nav { /* nav */
        margin-top: 0;

        [class*="owl-"] {
            background-color: transparent;

            &.disabled,
            &:hover {
                background-color: transparent;
            }
        }


        .owl-prev {
            position: absolute;
            top: 50%;
            left: -3rem;
            transform: translateY(-50%);

            & > span {
                color: $color-carousel-connect-arrow;
                font-size: 3rem;
            }
        }

        .owl-next {
            position: absolute;
            top: 50%;
            right: -3rem;
            transform: translateY(-50%);

            & > span {
                color: $color-carousel-connect-arrow;
                font-size: 3rem;
            }
        }
    }
}

