.chart {

    &__resume {
        display: flex;
        justify-content: flex-end;

        &__energy {
            display: flex;
            align-items: center;
            padding-left: 1.5rem;

            &:not(:last-of-type) {
                padding-right: 1.5rem;
            }

            &__image {
                width: 3rem;
                margin-right: 1rem;
            }

            &__text {
                color: $color-chart-energy;
                font-family: $font-normal;
                font-size: $font-size-smaller;

                &--bold {
                    font-family: $font-bolder-xl;
                }

                &--big {
                    margin-left: 1.5rem;
                    font-family: $font-bolder-xl;
                    font-size: $font-size-bigger;

                    .energy-eolien & {
                        color: $color-chart-energy-eolien;
                    }

                    .energy-photovoltaique & {
                        color: $color-chart-energy-photovoltaique;
                    }
                }
            }

        }

    }

}
