.connect-box {
    border: .1rem solid $border-connect-box;

    .top & {
        border: 0;
    }

    .connect & {
        height: 100%;
        border-top: 0;
        background-color: $white;
    }


    &__header {
        padding: 4rem 1.5rem;
        text-align: center;

        .signin-area & {
            background-color: $background-connect-box-signin;
        }

        .signup-area & {
            background-color: $background-connect-box-signup;
        }

        &__title {
            color: $color-connect-box-title;
            font-family: Arial, sans-serif;
            font-size: 2.2rem;
            font-weight: bold;
            line-height: 1;
        }
    }

    &__content {
        padding: 3rem 8rem;
        background-color: $background-connect-box-content;

        &__text {
            margin-bottom: 1.5rem;
            font-family: Arial, sans-serif;
            font-size: 1.6rem;
            text-align: center;
        }

        &__advantage {

            &__box {
                padding: 1.5rem;
                border: .1rem solid $border-connect-box;
                border-radius: .3rem;
                font-family: Arial, sans-serif;

                &__image {
                    color: $color-connect-box-image;
                    font-size: 3rem;
                }

                &__text {
                    font-size: 1.3rem;

                    &--big {
                        font-size: 2.2rem;
                        font-weight: bold;
                    }
                }

                &__submit {
                    margin-top: 2rem;
                }
            }
        }
    }
}

