.energy-installed {
    margin-bottom: 5rem;

    &__list {
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        position: relative;
        text-align: center;

        &__image {
            font-size: 7rem;
        }

        &__notification {
            position: absolute;
            top: 5rem;
            right: 1.5rem;
        }

        &__text {
            margin-top: 2rem;
            font-size: 1.8rem;
            font-weight: bold;
        }

        &--active {

            .energy-installed__item__image {
                color: $color-energy-installed-active;
            }

            .energy-installed__item__text {
                color: $color-energy-installed-active;
            }
        }
    }
}
