.filter {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;

    &__pill {
        margin-right: 3rem;

        [class^="icon-"],
        [class*=" icon-"] {
            margin-right: 1.5rem;
        }

        .nav-pills {
            flex-wrap: inherit;
        }

        .nav-item {
            &:first-child {

                .nav-link {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            &:last-child {

                .nav-link {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }

        .nav-link {
            padding: 1.25rem;
            background-color: $background-filter-pill;
            color: $color-filter-pill;
            font-family: $font-bolder-xl;
            line-height: 1;


            &.active {
                background-color: $background-filter-pill-active;
                font-family: $font-normal;
            }

        }
    }

    &__date {
        display: flex;

        .icon {
            display: flex;
            align-items: center;
            padding: 0 1.5rem;
            color: $border-bill-resume-filter-icon;
            font-size: $font-size-smaller;
        }

    }

    &__select {
        margin: 0 1.5rem;
    }
}
