.navigation {
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-menu { //ul
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    
    @include media-breakpoint-up(md) {
        flex-direction: row;
    }
    
    .menu-item {
        
        &#menu-item-106 { // sass-lint:disable-line no-ids
            display: none;
        }
        
        & > a {
            display: block;
            padding: 1rem 1.5rem;
            color: $grey-dark;
            font-size: 1.9rem;
    
            &:hover {
                border-bottom: .1rem dotted $blue-duck-lighter;
                color: $blue-duck-lighter;
            }
    
            &:hover,
            &:visited {
                text-decoration: none;
            }
        }
        
        &.current-menu-item {
            &>a {
                border-bottom: .1rem dotted $blue-duck-lighter;
                color: $blue-duck-lighter;
            }
        }
        
       
    }
}
