.top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("#{$img-url}/header.jpeg");
    background-repeat: no-repeat;
    background-position: 50% 55%;
    background-size: cover;
    font-family: $font-subscription;

    .homepage & {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    &__title {
        padding: 5.6rem 0 3rem 0;
        color: $color-top-title;
        font-size: 4rem;
        font-weight: bold;

        .connect-page & {
            padding-bottom: 19rem;
        }

        &--big {
            display: block;
            color: $color-top-title-big;
            font-size: 4rem;
            text-transform: uppercase;

            .top__title--variant & {
                color: $color-top-title-big-variant;
            }
        }
    }

    &__subtitle {

        .homepage & {
            font-size: 2rem;
        }
    }

}

