@font-face {
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    src:  url("../icons/fonts/icomoon.eot") format("embedded-opentype"),
    url("../icons/fonts/icomoon.ttf") format("truetype"),
    url("../icons/fonts/icomoon.woff") format("woff"),
    url("../icons/fonts/icomoon.svg") format("svg");
}


@font-face {
    font-family: "didot";
    font-style: normal;
    font-weight: normal;
    src:  url("../fonts/didot/Didot.woff2"),
    url("../fonts/didot/Didot.woff") format("woff");
}

@font-face {
    font-family: "gillSans";
    font-style: normal;
    font-weight: normal;
    src:  url("../fonts/gillSans/GillSans-Light.woff2"),
    url("../fonts/gillSans/GillSans-Light.woff") format("woff");

}
