[class^="icon-"],
[class*=" icon-"] {
    font-family: "icomoon";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    speak: none;
}

.icon-moins {

    &::before {
        content: "\e93c";
    }
}

.icon-afficher {

    &::before {
        content: "\e900";
    }
}

.icon-a-signer {

    &::before {
        content: "\e901";
    }
}

.icon-biogaz {

    &::before {
        content: "\e902";
    }
}

.icon-camera {

    &::before {
        content: "\e903";
    }
}

.icon-cogeneration {

    &::before {
        content: "\e904";
    }
}

.icon-confirmation {

    &::before {
        content: "\e905";
    }
}

.icon-contactez-nous {

    &::before {
        content: "\e906";
    }
}

.icon-date {

    &::before {
        content: "\e907";
    }
}

.icon-ecology {

    &::before {
        content: "\e908";
    }
}

.icon-enlever-dispositif {

    &::before {
        content: "\e909";
    }
}

.icon-entreprise {

    &::before {
        content: "\e90a";
    }
}

.icon-eolien {

    &::before {
        content: "\e90b";
    }
}

.icon-fleche-bas {

    &::before {
        content: "\e90c";
    }
}

.icon-fleche-droite {

    &::before {
        content: "\e90d";
    }
}

.icon-fleche-gauche {

    &::before {
        content: "\e90e";
    }
}

.icon-fleches-etape {

    &::before {
        content: "\e90f";
    }
}

.icon-hydraulique {

    &::before {
        content: "\e910";
    }
}

.icon-information {

    &::before {
        content: "\e911";
    }
}

.icon-jeton {

    &::before {
        content: "\e912";
    }
}

.icon-localisation {

    &::before {
        content: "\e913";
    }
}

.icon-maison {

    &::before {
        content: "\e914";
    }
}

.icon-modifier {

    &::before {
        content: "\e915";
    }
}

.icon-mon-contrat {

    &::before {
        content: "\e916";
    }
}

.icon-money {

    &::before {
        content: "\e917";
    }
}

.icon-mon-installation {

    &::before {
        content: "\e918";
    }
}

.icon-mon-profil {

    &::before {
        content: "\e919";
    }
}

.icon-particulier {

    &::before {
        content: "\e91a";
    }
}

.icon-photovoltaique {

    &::before {
        content: "\e91b";
    }
}

.icon-plus {

    &::before {
        content: "\e91c";
    }
}

.icon-professionel {

    &::before {
        content: "\e91d";
    }
}

.icon-profil {

    &::before {
        content: "\e91e";
    }
}

.icon-puissance {

    &::before {
        content: "\e91f";
    }
}

.icon-rond-information {

    &::before {
        content: "\e920";
    }
}

.icon-signe {

    &::before {
        content: "\e921";
    }
}

.icon-signer {

    &::before {
        content: "\e922";
    }
}

.icon-signer-le-contrat {

    &::before {
        content: "\e923";
    }
}

.icon-telecharger {

    &::before {
        content: "\e924";
    }
}

.icon-telecharger-le-contrat {

    &::before {
        content: "\e925";
    }
}

.icon-zoom-moins {

    &::before {
        content: "\e926";
    }
}

.icon-zoom-plus {

    &::before {
        content: "\e927";
    }
}

.icon-attente-de-paiement {

    &::before {
        content: "\e928";
    }
}

.icon-calendar {

    &::before {
        content: "\e929";
    }
}

.icon-chat {

    &::before {
        content: "\e92a";
    }
}

.icon-checked {

    &::before {
        content: "\e92b";
    }
}

.icon-courbe {

    &::before {
        content: "\e92c";
    }
}

.icon-eye {

    &::before {
        content: "\e92d";
    }
}

.icon-fleche-bas1 {

    &::before {
        content: "\e92e";
    }
}

.icon-fleche-droite1 {

    &::before {
        content: "\e92f";
    }
}

.icon-graph {

    &::before {
        content: "\e930";
    }
}

.icon-informations {

    &::before {
        content: "\e931";
    }
}

.icon-items {

    &::before {
        content: "\e932";
    }
}

.icon-menu-points {

    &::before {
        content: "\e933";
    }
}

.icon-montant-facture {

    &::before {
        content: "\e934";
    }
}

.icon-notification {

    &::before {
        content: "\e935";
    }
}

.icon-plus1 {

    &::before {
        content: "\e936";
    }
}

.icon-send-message {

    &::before {
        content: "\e937";
    }
}

.icon-telecharger1 {

    &::before {
        content: "\e938";
    }
}

.icon-total-vendu {

    &::before {
        content: "\e939";
    }
}

.icon-trombone {

    &::before {
        content: "\e93a";
    }
}

.icon-visualiser {

    &::before {
        content: "\e93b";
    }
}


