$color-link: #005BBB;
$background-footer: #FFFFFF;
$background-header: #FFFFFF;
$background-header-notification: #FFC06A;
$box-shadow-header: #BCBCCB;
$color-name-profile: #4D4F5C;
$color-footer: #4D4F5C;
$font-color-basic: #4D4F5C;
$font-color-title: #43425D;
$font-color-subtitle: #4D4F5C;
$grey-light: #BCBCCB;
$background-body: #F0F0F7;
$background-box: #FFFFFF;
$background-select: #FFFFFF;
$border-select: #3B86FF;
$border-select-subscription: #A7A7A7;
$border-input-subscription: #A7A7A7;
$border-input: #3B86FF;
$background-carousel-installation: #FFFFFF;
$box-shadow-carousel-installation: #BCBCCB;
$background-carousel-indicator: #CECFD0;
$background-carousel-indicator-active: #3B86FF;
$background-energy-checking: #FFFFFF;
$background-input: #FFFFFF;
$background-submit-button: #3B86FF;
$color-submit-button: #FFFFFF;
$background-download-button-producer-area: #3B86FF;
$color-download-button-producer-area: #FFFFFF;
$color-download-button: #005BBB;
$border-download-button: #005BBB;
$border-bill-resume-filter-icon: #3B86FF;
$color-bill-resume-table-row: #003872;
$border-bill-resume-table-link: #3B86FF;
$color-bill-resume-table-link: #3B86FF;
$border-bill-resume-table-link-disabled: #CECFD0;
$color-bill-resume-table-link-disabled: #CECFD0;
$color-bill-resume-alert-delay: #E75012;
$color-bill-resume-alert-delay-actions: #CECFD0;
$color-bill-resume-alert-in-progress: #4D4F5C;
$color-bill-resume-alert-in-progress-actions: #CECFD0;
$background-contact-us-button: #E75012;
$color-contact-us-button: #FFFFFF;
$background-add-button: #FFFFFF;
$color-add-button: #4D4F5C;
$color-icon-add-button: #91DC5A;
$border-add-button: #91DC5A;
$color-icon-to-sign-button: #E75012;
$background-tabs-information-nav: #FFFFFF;
$background-tabs-information-nav-active: #F8F8F8;
$border-tabs-information-nav: #D7DAE2;
$color-tabs-information-nav-active-text: #3B86FF;
$color-tabs-information-nav-text: #4D4F5C;
$color-tabs-information-table-th: #4D4F5C;
$background-filter-pill: #3B86FF;
$background-filter-pill-active: #D3D3D3;
$color-filter-pill: #FFFFFF;
$color-chart-energy: #4D4F5C;
$color-chart-energy-eolien: #3B86FF;
$color-chart-energy-photovoltaique: #E75012;
$background-select-icon: #FFFFFF;
$color-select-icon: #BCBCCB;
$background-connect-box-signin: rgba(254, 88, 21, 0.8);
$background-connect-box-signup: rgba(0, 91, 187, 0.8);
$border-connect-box: #DAD8D8;
$color-connect-box-title: $white;
$background-connect-box-content: $white;
$background-connect-box-button-signin: #E75012;
$background-connect-box-button-signup: #005BBB;
$color-connect-box-image: #E75012;
$color-top-title-big: #185DB8;
$color-top-title-big-variant: #E75012;
$color-top-title: $black;
$color-carousel-connect-selected: #E75012;
$color-carousel-connect-arrow: #E75012;
$background-breadcrumb: rgba(0, 0, 0, .8);
$color-breadcrumb-text: $white;
$color-breadcrumb-text-active: #E75012;
$background-subscription: #FFFFFF;
$background-subscription-title: #005BBB;
$color-subscription-title: #FFFFFF;
$color-subscription-subtitle: #185DB8;
$font-color-subscription: #000000;
$border-subscription: #D3D3D3;
$background-signature-btn: #FE5815;
$color-signature-btn: #FFFFFF;
$color-add-new-btn: #FE5815;
$background-accordion-installation-link-minus: #FC9E3C;
$color-accordion-installation-link-minus: #FFFFFF;
$color-accordion-installation-link-plus: #FC9E3C;
$background-accordion-installation-link-plus: #FFFFFF;
$color-confirmation-title: #FE5815;
$background-energy-installed-notification: #005BBB;
$color-energy-installed-notification: #FFFFFF;
$color-energy-installed-active: #FE5815;
$background-producer-area-button: #FE5815;
$color-producer-area-button: #FFFFFF;
$color-border-subscription-radio: #A7A7A7;
$background-subscription-radio: #FFFFFF;
$color-subscription-radio-checked: #515F95;
$color-border-subscription-checkbox: #A7A7A7;
$background-subscription-checkbox: #FFFFFF;
$color-subscription-checkbox-checked: #515F95;
$color-mandatory-field: #FE5815;
$background-accordion-header: #E8DCD7;
$background-accordion-header-variant: #FFFFFF;
$background-accordion-content: #E8DCD7;
$color-accordion-content-title: #000000;
$background-accordion-content-text: #FFFFFF;
$border-accordion-content-text: #A7A7A7;
$border-accordion-content: #000000;
$border-accordion-content-variant:  #E57E13;
$color-accordion-contract-valid: #53A444;
$color-accordion-contract-unvalid: #FE5815;
$color-accordion-action-link: #FE5815;
$background-accordion-action-separator: #000000;
$background-prev-button: #939393;
$color-prev-button: #FFFFFF;
$background-next-button: #FE5815;
$color-next-button: #FFFFFF;
$background-account-creation: #EEEEEE;
$color-account-creation-title: #0F2272;


$font-normal: "sourceSansPro", sans-serif;
$font-title: "sourceSansProBlack", sans-serif;
$font-subtitle: "sourceSansProBold", sans-serif;
$font-bolder: "sourceSansProSemiBold", sans-serif;
$font-bolder-xl: "sourceSansProBold", sans-serif;
$font-bolder-xxl: "sourceSansProBlack", sans-serif;
$font-subscription: "arial", sans-serif;


$font-size-basic: 1.6rem;
$font-size-bigger: 2.5rem;
$font-size-smaller: 1.3rem;
$font-size-subscription-title: 2.2rem;

$img-url: "../images/";
