$white: #FFFFFF;
$grey-light: #F9F9F9;
$grey-light-1: #DADADA;
$grey-light-2: #EDEDED;
$grey-dark: #3E3B3C;
$blue-duck: #00586E;
$blue-duck-lighten: #077E94;
$blue-duck-lighter: #0C889E;

$font-normal: "gillSans", serif;
$font-title: "didot", serif;

$font-size-basic: 1.6rem;

$img-url: "../images/";
