.form {

    .subscription-area & {
        margin-bottom: 2rem;
        padding: .4rem 1.3rem 1.8rem;
        border: 1px solid $border-subscription;
    }
}

.form-group {

    .subscription-area & {
        margin-bottom: 2.5rem;
    }
}

.mandatory-field {
    .subscription-area & {
        color: $color-mandatory-field;
    }
}
