.input {

    .producer-area & {
        position: relative;
        border: .1rem solid $border-input;
        border-radius: .3rem;
        background-color: $background-input;
        font-size: $font-size-smaller;

        &--large {
            width: 100%;
        }

        & > input {
            width: 100%;
            padding: 1rem;
            padding-right: 3.5rem;
            border: 0;
            font-size: $font-size-smaller;
        }

        [class^="icon-"],
        [class*=" icon-"] {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
        }

    }

    .subscription-area & {
        display: block;
        width: 100%;
        padding: 1rem 1.5rem;
        border: 1px solid $border-input-subscription;
    }
}
