.footer {
    flex-shrink: 0;
    margin-top: 10rem;
    padding: 1.5rem;
    background-color: $blue-duck-lighter;
    color: $grey-dark;
    
    &__link {
        color: $white !important; // sass-lint:disable-line no-important
        cursor: pointer;
        
        &:hover {
            text-decoration: underline !important; // sass-lint:disable-line no-important
        }
        
        &:visited,
        &:hover {
            color: $white;
        }
    }

    &__text {
        color: $grey-light;
    }
    
}


