.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    background-color: $white;
    z-index: 1;

    &__branding {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem 0 4rem 0;

        &__title {
            margin-top: 2rem;
            margin-bottom: 0;
            padding-bottom: 0;

            &__link {

                &:hover,
                &:visited {
                    color: $grey-dark;
                    text-decoration: none;
                }

                &__name {
                    display: block;
                    color: $grey-dark;
                    font-size: 2rem;
                    text-align: center;
                }

                &__description {
                    display: block;
                    font-family: $font-normal;
                    font-size: 1.4rem;
                    text-align: center;
                }
            }
        }
    }
}

