.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    background-color: $white;
    z-index: 1;

    &__branding {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1.5rem 0 2rem 0;
    
        @include media-breakpoint-up(md) {
            margin: 1.5rem 0 2rem 0;
        }
        
        &__logo {
            
            img {
                max-width: 6rem;
    
                @include media-breakpoint-up(md) {
                    max-width: 100%;
                }
            }
            
        }

        &__title {
            margin-top: 1rem;
            margin-bottom: 0;
            padding-bottom: 0;
    
            @include media-breakpoint-up(md) {
                margin-top: 2rem;
            }

            &__link {

                &:hover,
                &:visited {
                    color: $grey-dark;
                    text-decoration: none;
                }

                &__name {
                    display: block;
                    color: $grey-dark;
                    font-size: 2rem;
                    text-align: center;
                }

                &__description {
                    display: block;
                    color: $grey-dark;
                    font-family: $font-normal;
                    font-size: 1.4rem;
                    text-align: center;
                }
            }
        }
    }
}

