html {
    font-size: 62.5%; //initialize 1rem to 10px
}

body {
    display: flex;
    flex-direction: column;
    color: $grey-dark;
    font-family: $font-normal;
    font-size: $font-size-basic;
}

html,
body {
    height: 100%;
}

a {
    color: $blue-duck-lighten;
    text-decoration: none;
    
    &:hover,
    &:visited {
        color: $blue-duck-lighter;
        text-decoration: underline;
    }
}


.site-content {
    margin-top: 18rem; //header height without navbar
    
    @include media-breakpoint-up(md) {
        margin-top: 26rem;
    }
}


/*Specific*/

.container {
    
    #carousel & { // sass-lint:disable-line no-ids
        max-width: 76.8rem;
    }
    
    #contact & { // sass-lint:disable-line no-ids
        max-width: 92rem;
        
        .wp-block-columns {
            margin-bottom: 7rem;
        }
        
        .wp-block-column {
            margin-right: 0;
            margin-left: 0;
            padding: 1.5rem;
            background-color: $grey-light-2;
            color: $grey-dark;
    
            @include media-breakpoint-up(md) {
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 1.5rem;
            }
    
            & > h3 {
                margin: 0;
                color: $grey-dark;
            }
            
            & > p {
                margin: 0;
            }
            
            &:nth-child(odd) {
                margin-bottom: 1.5rem;
                background-color: $blue-duck-lighten;
                color: $white;
    
                @include media-breakpoint-up(md) {
                    margin-right: 1.5rem;
                    margin-bottom: 0;
                }
                
                
    
                & > h3 {
                    color: $white;
                }
            }
        }
    }
}

/*Custom wordpress class */

.wp-block-column {
    
    &:not(:first-child) {
        margin-left: 1.5rem;
    }
    
    &:not(:last-child) {
        margin-right: 1.5rem;
    }
    
}

/* Cookie plugin */

#cookie-law-info-again { // sass-lint:disable-line no-ids
    right: 0 !important; // sass-lint:disable-line no-important
    width: 100% !important; // sass-lint:disable-line no-important
}


